[Unit]
Description=Next.js Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/fullstack-assignment/frontend
ExecStart=/usr/bin/npm start
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

