[Unit]
Description=Django Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/fullstack-assignment/backend
Environment="PATH=/home/ubuntu/fullstack-assignment/backend/venv/bin"
ExecStart=python3 manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target

